.banner{
    display:block;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-image: url('./FreeVector-Musical-Notes-Pattern.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
}

.banner h1{
    background-color:red;
    color:white;
}


